@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto"),
  url(~assets/fonts/RobotoMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto"),
  url(~assets/fonts/RobotoMono-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto"),
  url(~assets/fonts/RobotoMono-BoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto"),
  url(~assets/fonts/RobotoMono-ExtraLight.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto"),
  url(~assets/fonts/RobotoMono-ExtraLightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto"),
  url(~assets/fonts/RobotoMono-Italic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto"),
  url(~assets/fonts/RobotoMono-Light.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto"),
  url(~assets/fonts/RobotoMono-LightItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto"),
  url(~assets/fonts/RobotoMono-Medium.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto"),
  url(~assets/fonts/RobotoMono-MediumItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto"),
  url(~assets/fonts/RobotoMono-SemiBold.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto"),
  url(~assets/fonts/RobotoMono-SemiBoldItalic.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono";
  src: local("Roboto"),
  url(~assets/fonts/RobotoMono-Thin.ttf) format("truetype");
}